{% extends 'faculty/base_templates/class.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <style>
    .submit-button {
        background-color: #C41E3A;
        color: white;
        border: none;
        width: auto;
        padding: 10px;
        cursor: pointer;
    }
    .card-header {
        color: #C41E3A;
    }
    </style>

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Sign Up</div>
        <div class="card-body">

            <form method="post">
                {% csrf_token %}
                {{ user_create_form.as_p }}
                <button type="submit" class="submit-button">Sign up</button>
            </form>

        </div>
      </div>
    </div>


{% endblock %}



