{% extends 'faculty/base_templates/dashboard.html' %}

    {% block content %}
    <style>
        .table th {
            background-color: #C41E3A;
            color: white;
            font-weight: bold;
            padding: 10px 15px;
        }
        .breadcrumb-item{
            color: #C41E3A;
        }
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #dataTable td {
            text-align: center;
        }
        i {
            color: #C41E3A;
            text-decoration: none;
            background-color: transparent;
        }
        .fas {
            color: black;
        }
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 10px 10px 10px 10px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            margin-bottom: 20px;
        }
        input[type=text]:focus {
            width: 100%;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

    <div id="wrapper">

        <div id="content-wrapper">

            <div class="container-fluid">


                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Positions Data</li>
                </ol>


                <div class="card mb-3">
                    <div class="card-header"><i class="fas fa-table"></i> Positions Data Table</div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <input id="myInput" type="text" placeholder="Search">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Student</th>
                                            <th>Time</th>
                                            <th>X Position</th>
                                            <th>Y Position</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                    {% for position in positions %}
                                        <tr>
                                            <td>{{ position.id }}</td>
                                            <td>{{ position.student }}</td>
                                            <td>{{ position.timestamp }}</td>
                                            <td>{{ position.x }}</td>
                                            <td>{{ position.y }}</td>
                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Student</th>
                                            <th>Time</th>
                                            <th>X Position</th>
                                            <th>Y position</th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}

