{% extends 'faculty/base_templates/class.html' %}

    {% block content %}
    <style>
        .table th {
            background-color: #C41E3A;
            color: white;
            font-weight: bold;
            padding: 10px 15px;
        }
        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        #dataTable td {
            text-align: center;
        }
        i {
            color: black;
            text-decoration: none;
            background-color: transparent;
        }
        .breadcrumb-item {
            color: #C41E3A;
        }
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 10px 10px 10px 10px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            margin-bottom: 20px;
        }
        input[type=text]:focus {
            width: 100%;
        }
        .submit-button{
            background-color: #C41E3A;
            color: white;
            padding: 10px;
            cursor: pointer;
        }
    </style>

    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>

    <div id="wrapper">

        <div id="content-wrapper">

            <div class="container-fluid">

                <ol class="breadcrumb">
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item">Survey Questions</li>
                </ol>

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="table-responsive">

                                    <input id="myInput" type="text" placeholder="Search">

                                    <table class="table table-bordered" id="dataTable">

                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Question</th>
                                            </tr>
                                        </thead>
                                        <tbody id="myTable">
                                        {% for q in questions %}
                                            <tr>
                                                <td>{{ q.type }}</td>
                                                <td>{{ q.prompt_text }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Type</th>
                                                <th>Question</th>
                                            </tr>
                                        </tfoot>

                                    </table>

                                </div>

                            <a href="{% url 'survey_dashboard' %}"><button class="submit-button">Back to Survey Dashboard</button></a>

                            </div>
                        </div>

            
            </div>
        </div>
    </div>

{% endblock %}
