{% extends 'faculty/base_templates/class.html' %}

{% block content %}
    <style>
        .confirm-button {
            text-decoration: none;
            background-color: #1c7430;
            color: white;
            padding: 10px;
        }

        .cancel-button {
            text-decoration: none;
            background-color: #ba0c2f;
            color: white;
            padding: 10px;
        }
    </style>

    <h2>
        You are about to remove this object:<br/>
        <a href="/faculty/class/{{ class.id }}/view">{{ class.id }}</a>
    </h2>

    <a href="/faculty/class/{{ class.id }}/remove" class="confirm-button">Confirm</a>
    <a href="/faculty/class/{{ class.id }}/view" class="cancel-button">Cancel</a>


{% endblock %}