<meta charset="UTF-8">
<style>
    body {
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    }

    .title-area {
        width: 100%;
        background-color: #ba0c2f;
        color: white;
        text-align: center;
    }

    .content-area {
        width: 100%;
        background-color: white;
    }

    .reset-code {
        color: #ba0c2f;
        font-weight: bold;
    }

    .bottom-area {
        width: 100%;
        background-color: #ba0c2f;
        text-align: center;
        color: white;
    }

    .bottom-area > p {
        padding: 20px;
    }

    .content-text-area {
        padding: 15px;
    }
</style>

<div class="title-area">
    <h1>ICBA</h1>
    <h2>Password Change</h2>
</div>

<div class="content-area">
    <p>Dear {{ user.first_name }} {{ user.last_name }},</p>
    <div class="content-text-area">
        <p>This is a notification that your password for ICBA has been changed.</p>
        <p style="font-weight: bold"> If this was not you, request a password reset and change your
        password to protect your account.</p>
    </div>
    <p>Thanks,</p>
    <p>ICBA Development Team</p>
</div>

<div class="bottom-area">
    <p>Sent from ICBA server!</p>
</div>